<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #icons{
            font-size: 2rem;
            color: #FF385C;
        }
        .footer{
            text-align: center;
            border-top: 1px solid black;
            padding-bottom: 2vw;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration:underline;
        }
    </style>
</head>
<body>
    <div class="footer">
        <div id="f-p1">
            <i class="fa-brands fa-square-instagram" id="icons"></i>
            <i class="fa-brands fa-square-facebook" id="icons"></i>
            <i class="fa-brands fa-linkedin" id="icons"></i>
        </div>
        <div id="f-p2">&copy;Sanskar's Hotel Private Limited</div>
        <div id="f-p3">
            <a href="/pravicy">Pravicy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</body>
</html>